################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skype4Sharp/obj/x86/Debug
/Skype3D/obj/x86/Debug
/Skype4Sharp/bin/x86/Debug
/Skype3D/bin/x86/Debug
/Skype3D/bin/ARM/Debug
/Skype3D/obj/ARM/Debug
/Skype4Sharp/bin/ARM/Debug
/Skype4Sharp/obj/ARM/Debug
/Skype3D/obj/x64/Debug
/Skype4Sharp/obj/x64/Debug
*.pdb
/Players/UAP
