################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skype4Sharp/obj/x86/Debug
/Skype3D/obj/x86/Debug
/Skype4Sharp/bin/x86/Debug
/Skype3D/bin/x86/Debug
